* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.box {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
    align-items: center;
}
